.radio-center{
    margin-top: 400px;
    background-color: rgb(16, 13, 13);
    color: white;
    border-radius: 5px;
    width: 300px;
    height: 200px;
}
.centrer{
    width: 300px;
    height: 200px;
}